@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Muli', 'sans-serif';
}

.page-wrapper {
  display: grid;
  height: 120vh;
  grid-template-columns: 0.6fr 1fr;
}

.left-section {
  display: grid;
  background-color: black;
}

.right-section {
  display: grid;
  grid-template-rows: repeat(4, auto);
  /* grid-template-rows: repeat(4, 1fr); */
  /* background-color: rgb(249, 237, 237); */
  padding: 100px 50px 100px 100px;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
}

.section-text {
  text-align: justify;
}

.about-me {
  display: grid;
  /* background: red; */
  grid-template-rows: 0.2fr auto;
}

.education {
  /* background: rgb(205, 198, 148); */
}

.experience {
  /* background: rgb(148, 157, 205); */
}

.certificates {
  /* background: rgb(205, 148, 197); */
}

.experience-wrapper {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: baseline;
  gap:0px;
}

.company-name{
  /* margin:0px; */
  font-weight: bold;
}

.year-wrapper{
  font-weight: bold;
}

.certificate-name {
  font-weight: bold;
}